.contact{
    padding-top: 30px;
    background-color:whitesmoke;
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    
}
.contactForm{
    background-color: var(--color-lightgreen-200);
    border-radius: 5%;
    padding: 2em 5em;
    margin-bottom: 4em;
}
textarea{
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    width: 186px;
}
.zip{
    width:50px;
    margin-right: 5px;
}
.location{
    width:100px;
}